<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HOH Attendance</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.2/jquery.min.js"></script>
</head>

<body>
    <h1>HOH Attendance</h1>		
		<a class="button" style="text-decoration: none; position:absolute; top: 10px; right:10px;" href="/backup">⬇️ Download Data</a>
    <table>
        <thead>
            <tr>
                <th class="name-col">Attendee</th>
                {% for val in attendance_days %}
                    {% for key, value in val.items() %}
                        <th><div data-date="{{ key }}"></div>({{ value }})</th>
                    {% endfor %}
                {% endfor %}
            </tr>
        </thead>
        <tbody>
            {% for student in user_attendace %}
            <tr class="student">
                <td class="name-col">{{ user_attendace[student]['username'] }}
                    <div id="{{ student }}" class="user-detail">
                        London Met. ID: {{ user_attendace[student]['lid'] }}<br>
                        Name: {{ user_attendace[student]['name'] }}<br>
                        (Year: {{ user_attendace[student]['year'] }} Section: {{ user_attendace[student]['section'] }})
                    </div>
                </td>
                {% for day in user_attendace[student]['attendance'] %}
                <td class="attend-col"><input type="checkbox" {% if day %} checked="" {% endif %}></td>
                {% endfor %}
            </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
<script>
    const thElements = document.querySelectorAll('div[data-date]');

thElements.forEach(function (th) {
    const dateStr = th.getAttribute('data-date');
    
    const date = new Date(dateStr);

    const formattedDate = date.toLocaleString('default', { month: 'short', day: 'numeric' });

    th.textContent = formattedDate;
});    
</script>
<script>
    document.querySelectorAll('input[type="checkbox"]').forEach(function (checkbox) {
        checkbox.addEventListener('change', function (event) {
            const uid = checkbox.closest('tr').querySelector('.user-detail').id;

            const isChecked = checkbox.checked;

            let cell=checkbox.closest('td');
            let cellIndex = Array.from(cell.parentNode.children).indexOf(cell);
            let correspondingTh = document.querySelector('table thead th:nth-child(' + (cellIndex + 1) + ')');
            let date = correspondingTh.querySelector('div').getAttribute('data-date');

            const data = {
                userId: uid,
                date: date,
                status: isChecked
            };
            
            
            fetch('', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify(data)
            })
            .catch(error => {
                console.error('Error:', error);
                checkbox.checked=!isChecked;
            });
            
            
        });
    });            
</script>
</html>
